In [0]:
USE CATALOG hive_metastore;

In [0]:
CREATE TABLE employees (id INT, name STRING, salary DOUBLE)

In [0]:
INSERT INTO employees
VALUES 
  (1, "Adam", 3500.0),
  (2, "Sarah", 4020.5);

INSERT INTO employees
VALUES
  (3, "John", 2999.3),
  (4, "Thomas", 4000.3);

INSERT INTO employees
VALUES
  (5, "Anna", 2500.0);

INSERT INTO employees
VALUES
  (6, "Kim", 6200.3)

In [0]:
select * from employees;

In [0]:
describe detail employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
UPDATE employees 
SET salary = salary + 100
WHERE name LIKE "A%"

In [0]:
delete from employees

In [0]:
select * from employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
describe history employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees/_delta_log'

In [0]:
%fs head 'dbfs:/user/hive/warehouse/employees/_delta_log/00000000000000000023.json'